.advert-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.advert-item {
    flex: 1 1 300px;
    background-color: lightblue;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    padding: 15px;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*@media (max-width: 768px) {*/
/*    .advert-item {*/
/*        flex: 1 1 100%;*/
/*    }*/

