
.advert-list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
  box-sizing: border-box;
}

.advert-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
    align-items: stretch;
}


/*@media (min-width: 1024px) {*/
/*    .advert-list {*/
/*        grid-template-columns: repeat(4, 1fr);*/
/*    }*/
/*}*/

/*@media (max-width: 768px) {*/
/*    .advert-list {*/
/*        grid-template-columns: repeat(2, 1fr);*/
/*    }*/
/*}*/