main {
    background-image: url('src/assets/images/achtergrond-login-register.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-form-container {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 8px;
    border: 2px red dotted;
    background-color: lightgreen;
    text-align: center;
    color: darkorange;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px #535bf2 dotted;
    justify-items: center;
    align-items: center;
    /*max-width: 90%;*/

}

form button {
    width: 50%;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    padding: 10px;
    border-radius: 8px;
    background-color: #535bf2;
    color: white;
    cursor: pointer;
}