/*.profile-container {*/
/*    display: flex;*/
/*    background-color: white;*/
/*}*/

.outer-profile-container {
    background-color: white;
    display: flex;
    flex-direction: row;

}

.sidebar-container {
    display: flex;
    flex-direction: column;

}

.sidebar {
    width: 20%;
    background: #f8f8f8;
    padding: 1rem;
    border-right: 1px solid #e0e0e0;
}
