.input-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.input-form-container header{
    font-family: 'Lobster', cursive;
}

.input-form-container   form {
    display: flex;
    padding: 0;
    margin: 10px 0;
    flex-direction: column;
    width: 100%;
}

.input-form-container  form div {
    margin-bottom: 15px;
    width: 100%;
}

.input-form-container  button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Lobster', cursive;
    border-radius: 20px;
    border: none;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.input-form-container  button:hover {
    background-color: #218838;
}

.input-form-container  form input {
    background-color: #f9f9f9;
    font-family: 'Lobster', cursive;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 12px;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
    color: #333;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-form-container  form input:focus {
    border-color: #28a745;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}

.error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
}
