* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*#root {*/

/*  display: flex;*/
/*  flex-direction: column;*/
/*  min-height: 100vh;*/
/*  width: 100%;*/
/*}*/



body {
  min-height: 100vh;
  width: 100%;
}

/*.app-container {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  min-height: 100vh;*/
/*}*/

.outer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  background-color:blue;
  /*padding: 20px;*/
}

main {
  background-image: url('src/assets/images/achtergrond-login-register.jpeg');
  flex: 1;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  min-height: calc(100vh - 160px)
}


/*.main {*/
/*  flex: 1;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  background-color: #f4f4f4;*/
/*  padding: 2rem;*/
/*}*/



.inner-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 8px;
  border: 2px solid #ddd;
  padding: 20px;
  text-align: center;

}
.header {
  background-color: green;
  padding: 1rem;
}

.navbar {
  background-color: green;
  padding: 1rem;
  text-align: center;
  color: white;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.navbar a:hover {
  background-color: #555;
}